{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('admin_cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.estado }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_cliente_show', { 'id': cliente.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cliente_edit', { 'id': cliente.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cliente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
