{% extends 'base.html.twig' %}

{% block body %}
    <h1>OrdenCreada</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordenCreada.id }}</td>
            </tr>
            <tr>
                <th>Cookie</th>
                <td>{{ ordenCreada.cookie }}</td>
            </tr>
            <tr>
                <th>Nombreprod</th>
                <td>{{ ordenCreada.nombreProd }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ ordenCreada.precio }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ ordenCreada.cantidad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ ordenCreada.direccion }}</td>
            </tr>
            <tr>
                <th>Numeroreferencia</th>
                <td>{{ ordenCreada.numeroReferencia }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ ordenCreada.imagen }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ ordenCreada.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_orden_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_orden_edit', { 'id': ordenCreada.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
