<div class="container">
	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="account" rel="tooltip" src="{{asset('Resources/src/img/icons/1.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
  	</div>
  	<div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="saleStages" rel="tooltip" src="{{asset('Resources/src/img/icons/2.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
      </div>
      <div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="activities" rel="tooltip" src="{{asset('Resources/src/img/icons/3.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
      </div>
      <div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="calendar" rel="tooltip" src="{{asset('Resources/src/img/icons/4.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
      </div>
      <div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="settings" rel="tooltip" src="{{asset('Resources/src/img/icons/5.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
      </div>
      <div class="col-md-1 col-xs-3" style="margin-top:5px;">
            <a href="">
                <img class="userFilter" data-toggle="tooltip" data-original-title="reports" rel="tooltip" src="{{asset('Resources/src/img/icons/6.png')}}" alt="Photo perfil" style="width: 100%;">
            </a>
      </div>
</div>