<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% block title -%}<title>aaaaa</title>{% endblock %}
            <meta name="robots" content="noindex">
            {% block css %}
                <link rel="stylesheet" href="{{ asset('Resources/bootstrap/css/bootstrap.css')}}" >
                <link rel="stylesheet" href="{{ asset('Resources/font-awesome/css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/datatable/css/material.min.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/datatable/css/datatables.material.min.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/sweetalert/css/sweetalert2.min.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/customscss/errors.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/select2/css/select2.min.css') }}">
                <link rel="stylesheet" href="{{ asset('Resources/src/css/style.css') }}">
                <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
                {% block customcss %}
                {% endblock %}
            {% endblock css%}
        {% endblock %}    
    </head>
    <body style="font-family: 'Roboto', sans-serif;" class="sans">
    {% block body %}
			
        {% include ':layout:nav.html.twig' %}
		
        <div class="clearfix"></div>
        {% block icons %}
            <div style="z-index:50;margin-bottom:20px; border-bottom:1px #000" class="col-md-12 col-xs-12">            
                {% include ':layout:icons.html.twig' %}
            </div>
        {% endblock %}  
            
	<div class="container">
            {% block descripcion_y_acciones %}
                <div class="row">
                    <div class="col-md-12" style="border-bottom:1px solid #d3d3d3;">
                        {% block descripcion %}{% endblock %}                                
                        {% block acciones %}{% endblock acciones %}
                    </div>
                </div>
            {% endblock %}  

            <div class="clearfix"></div>

            {% block navegacion_Y_body %}
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-2 col-xs-12">
                        {% block navegacion %}
                            {% include ':layout:menu.html.twig' %}
                        {% endblock %}
                    </div>
                      <div class="col-md-10 col-xs-12">
                        {% block contenido %}
                        {% endblock contenido %}
                    </div>
                </div>
            {% endblock %}  
	</div>
    {% endblock %}
    {% block js_template %}
	<script type="text/javascript" src="{{ asset('Resources/jquery/jquery310.min.js') }}"></script>
	{#<script type="text/javascript" src="{{ asset('Resources/angular/angular158.min.js') }}"></script>#}
	<script type="text/javascript" src="{{ asset('Resources/bootstrap/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('Resources/datatable/js/jquery.datatables.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('Resources/datatable/js/datatables.material.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('Resources/sweetalert/js/sweetalert2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('Resources/select2/js/select2.min.js') }}"></script>
	<script src="{{ asset('Resources/shortcut/shortcut.js')}}"></script> <!-- http://www.openjs.com/scripts/events/keyboard_shortcuts/v1.php -->
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<link rel="shortcut icon" href="{{ asset('Resources/src/img/favicon.png')}}" type="image/x-icon">
	<link rel="icon" href="{{ asset('Resources/src/img/favicon.png')}}" type="image/x-icon">	

	<script type="text/javascript">
                $( document ).ready(function() {

                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    });


                    $(document).on('change','#busquedaRapida',function(){
                        var expediente = $(this).val();
                        {#var url = "{{path('admin_campaigntypes_save_ajax')}}"+"?id="+expediente;#}
                        var url = "";
                        console.log(url);
                        window.location=url;
                    });

                    var busqueda = $('#busquedaRapida').select2({

                            ajax: {
                                {#url: "{{path('admin_campaigntypes_save_ajax')}}",#}
                                url: "",
                                dataType: 'json',
                                delay: 250,
                                data: function (params) {
                                    return {
                                      q: params.term, 
                                      page: params.page
                                    };
                                },
                                processResults: function (data, params) {
                                    var select2Data = $.map(data.data, function (obj) {
                                        obj.id = obj.numero;
                                        obj.text = obj.numero+" "+obj.nombres+" "+obj.apellidos;

                                        return obj;
                                    });

                                    return {
                                        results: select2Data
                                        {#pagination: {
                                            more: (params.page * 30) < data.total_count
                                        }#}
                                    };
                                },
                                cache: true
                            },
                            escapeMarkup: function (markup) { return markup; }, 
                            minimumInputLength: 1,
                            templateResult: formatRepo, 
                            templateSelection: formatRepoSelection 
                        });


                    function formatRepo (data) {
                        if(data.numero){
                            var markup = "<div class='select2-result-repository clearfix'>" +
                                         "<div class='select2-result-repository__meta'>" +
                                         "<div class='select2-result-repository__title'>" + data.numero+" | "+data.nombres+" "+data.apellidos+"</div>" +
                                         "</div></div>";
                        } else {
                            {#var markup = "{{select2Label}}";#}
                            var markup = "";
                        }




                        return markup;
                    }

                    function formatRepoSelection (data) {
                        if(data.numero){
                            return data.numero+" | "+data.nombres+" "+data.apellidos;
                        } else {
                            {#return "{{select2Label}}";#} 
                            return ""; 
                        }    
                    }

                    shortcut.add("Ctrl+g",function() {
                        {#busqueda.click();
                        console.log('click');#}
                        $("#busquedaRapida").select2('destroy');
                        var busqueda = $('#busquedaRapida').select2({

                            ajax: {
                                {#url: "{{path('admin_campaigntypes_save_ajax')}}",#}
                                url: "",
                                dataType: 'json',
                                delay: 250,
                                data: function (params) {
                                    return {
                                      q: params.term, 
                                      page: params.page
                                    };
                                },
                                processResults: function (data, params) {
                                    var select2Data = $.map(data.data, function (obj) {
                                        obj.id = obj.numero;
                                        obj.text = obj.numero+" "+obj.nombres+" "+obj.apellidos;

                                        return obj;
                                    });

                                    return {
                                        results: select2Data
                                        {#pagination: {
                                            more: (params.page * 30) < data.total_count
                                        }#}
                                    };
                                },
                                cache: true
                            },
                            escapeMarkup: function (markup) { return markup; }, 
                            minimumInputLength: 1,
                            templateResult: formatRepo, 
                            templateSelection: formatRepoSelection 
                        });
                        $("#busquedaRapida").select2('open');
                    });

                });
            </script>


	{% block js_extend %}
	{% endblock %}
	
	{% block javascripts_step %}
	{% endblock %}
    {% endblock %}
 

    </body>
</html>
