{% extends ':layout:layouterp.html.twig' %}

{% block title -%}<title>ARIASTORE | Categorias de producto</title>{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/customscss/salestage.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
{% endblock %}
{% block descripcion %}
     <div class="col-md-5">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Gestión de productos</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">Agregar, ediProductos</p>
     </div>

{% endblock %}
{% block acciones %}
     <div class="col-md-7 text-right panel-body">
          <button data-loading-text="Loading..." autocomplete="off" class="btnAdd btn btn-sm btn-primary btn-flat">add</button>
          <button class="hidden btnDelete btn btn-sm btn-danger btn-flat">delete</button>
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">show</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">action</button>
     </div>
{% endblock acciones %}

{% block body %}
    {% include ':categoria:new.html.twig' %}
    
    <div class="clearfix"></div>
    <div class="col-md-12 col-xs-12">
        <table id="listadoCategoria" class="mdl-data-table dataTable" width="100%" cellspacing="0" style="text-align:left;">
            <thead>
                <tr role="row">
                    <th style="width: 20px; padding-left: 8px;"><input type="checkbox" name="checktodos" onclick = "seleccionarTodo();"></th> 
                    <th style="text-align: left">Nombre</th>
                </tr>
            </thead>
        </table>
    </div>
    
{% endblock %}

{% block js_extend %}
<script type="text/javascript" src="{{ asset('Resources/validations/validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/persist/categoria/categoria.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/funciones.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/categoria/categoria.js') }}"></script> 
    <script type="text/javascript">
        $(document).ready(function() {
            /////Definición datatable
            var table = $('#listadoCategoria').DataTable({
                dom:'ftp',
                "processing": false,
                "serverSide": true,
                "ajax": {
                        "url": Routing.generate('admin_priorities_data'),
                        "type": 'GET'
                },
                "columns": [
                        { "data": "check" },
                        { "data": "name" }
                ],
                "order":[1,'asc'],
                "columnDefs": [
                        { "orderable": false, "targets": 0 }
                ]
                {#,
                "language": {
                        "info": "{{dtInfo}} _PAGE_ de _PAGES_",
                        "infoEmpty": "{{dtInfoEmpty}}",
                        "zeroRecords": "{{dtZeroRecords}}",
                        "emptyTable": "{{dtEmptyTable}}",
                        "paginate": { 
                            "next": "{{dtNext}}",
                            "previous": "{{dtPrev}}"
                        },
                        "processing": "{{dtProcessing}}",
                        "search": "{{dtSearch}}",
                        "lengthMenu": "{{dtLengthMenu}} _MENU_ registros"
                    }#}
            });
            /////Fin definición datatable 
        });
    </script>
{% endblock %}