{% extends ':layout:layouterp.html.twig' %}


{% block title -%}<title></title>{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/customscss/salestage.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
{% endblock %}
{% block descripcion %}
     <div class="col-md-5">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Gestión de productos</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">Agregar, ediProductos</p>
     </div>

{% endblock %}
{% block acciones %}
     <div class="col-md-7 text-right panel-body">
          <button data-loading-text="Loading..." autocomplete="off" class="btnAdd btn btn-sm btn-primary btn-flat">add</button>
          <button class="hidden btnDelete btn btn-sm btn-danger btn-flat">delete</button>
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">show</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">action</button>
     </div>
{% endblock acciones %}


{% block contenido %}
    <div class="row">
        {#{% include ':crmtipocampania:new.html.twig' %}#}

        <div class="clearfix"></div>
        <div class="col-md-12 col-xs-12">
            <table id="campaignList" class="mdl-data-table dataTable" width="100%" cellspacing="0" style="text-align:left;">
                  
                <thead>
                    <tr role="row">
                        <th style="text-align:left;width: 20px;" colspan="1" rowspan="1"><input class="chkItemAll" type="checkbox" name=""></th>
                        <th aria-label="Name: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sortRecords mdl-data-table__cell--non-numeric sorting">AriaStore</th>
                        {# <th aria-sort="descending" aria-label="Probability: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="mdl-data-table__cell--non-numeric sorting_desc">Probability</th> #}
                        {# <th aria-label="State: activate to sort column ascending" colspan="1" rowspan="1" aria-controls="example" tabindex="0" >State</th> #}
                        {# <th aria-label="Actions: activate to sort column ascending" style="width: 33px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" class="sorting">Actions</th> #}
                    </tr>
                </thead>      
             </table>
        </div>
    </div>
{% endblock %}


{#
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Producto list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Numeroreferencia</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <th>Link</th>
                <th>Ingredientes</th>
                <th>Presentacion</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td><a href="{{ path('admin_producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.numeroreferencia }}</td>
                <td>{% if producto.estado %}Yes{% else %}No{% endif %}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.link }}</td>
                <td>{{ producto.ingredientes }}</td>
                <td>{{ producto.presentacion }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_producto_show', { 'id': producto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_producto_edit', { 'id': producto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_producto_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}#}