{% extends ':layout:layouterp.html.twig' %}

{% block title -%}<title> ARIASTORE | Reporte de ingresos por venta </title>{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/datepicker/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/zebra/css/default.css') }}">
{% endblock %}
{% block descripcion %}
     <div class="col-md-6 col-sm-8">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Reporte de ingresos por categoria</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">Se muestran los ingresos por categoria de productos en un periodo determinado.</p>
     </div>    
{% endblock %}
{% block acciones %}{% endblock acciones %}

{% block navegacion %}
    <a href="{{ path('admin_ingresos_venta') }}" class="leftnava"><li class="leftnav left">Ingresos totales<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_ingresos_venta_categoria') }}" class="leftnava"><li class="leftnav left active">Ingresos categoria<span class="pull-right right"><i class="fa fa-arrow-right"></i></span></li></a>
{% endblock %}

{% block contenido %}
    <div id="filtroReporte" class="col-sm-12 col-xs-12 {% if not consolidado %} hidden {% endif %}" style="margin-bottom: 15px;">
        <div class="pull-right">
            <div class="row">
                <div class="btn-group">
                    <div class='input-daterange input-group date' id='datetimepicker6'>
                        <input id="fecha-inicio" type='text' class="form-control input-sm" placeholder="Fecha de inicio..."/>
                    </div>
                </div>
                
                <div class="btn-group">
                    <div class='input-daterange input-group date' id='datetimepicker7'>
                        <input id="fecha-fin" type='text' class="form-control input-sm" placeholder="Fecha de fin..."/>
                    </div>
                </div>
                <div class="btn-group btn-group-sm">                    
                    <button id="filtrar" data-toggle="tooltip" data-container="body" title="Buscar" class="btn btn-default datatables1-actions opciones" role="button">
                       Buscar
                    </button>
                </div>            
                <div class="btn-group btn-group-sm">                    
                    <button id="exportar-pdf" data-toggle="tooltip" data-container="body" title="Exportar a PDF" class="btn btn-default datatables1-actions opciones" role="button">
                        <i class="fa fa-file-pdf-o"></i><a href=""> </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
          
    <div id="consolidado" class="col-sm-offset-1 col-sm-10 col-xs-12">
        <table id="ingresosmensuales" class="mdl-data-table table-hover no-margin" width="100%" cellspacing="0" style="text-align:left;">
            <thead id ="head">
                <tr role="row">
                    <th style="text-align: center;" >Categoria de productos</th>
                    <th style="text-align: center;" >Ventas en linea ($)</th>
                    <th style="text-align: center;">Ventas en tienda ($)</th>
                    <th style="text-align: center;">Total de ventas ($)</th>
                </tr>
            </thead>
            <tbody id="tabla">
                {% set data = 1 %}
                {% set online = 0 %}
                {% set venta = 0 %}
                {% set total = 0 %}
                {% for row in consolidado %}
                    {% set online = online + row.online %}
                    {% set venta = venta  + row.venta %}
                    {% set total = total + row.total %}
                    
                    <tr>
                        <td style="text-align: left;">{{ row.categoria }}</td>
                        <td>{% if row.online %}{{ row.online|number_format(2, '.', ',') }}{% else %} 0.00{% endif %}</td>
                        <td>{% if row.venta %}{{ row.venta|number_format(2, '.', ',') }}{% else %}0.00{% endif %}</td>
                        <td>{% if row.total %}{{ row.total|number_format(2, '.', ',') }}{% else %}0.00{% endif %}</td>
                    </tr>
                {% else %}
                    {% set data = 0 %}
                    <tr><td style="text-align: center;" colspan="4">No hay datos</td></tr>
                {% endfor %}
                {% if data == 1 %}
                    <tr>
                        <td style="text-align: left; font-weight: bold;">TOTAL</td>
                        <td style="text-align: right; font-weight: bold;">{% if online != 0 %}{{ online|number_format(2, '.', ',') }}{% else %}0.00{% endif %}</td>
                        <td style="text-align: right; font-weight: bold;">{% if venta != 0 %}{{ venta|number_format(2, '.', ',') }}{% else %}0.00{% endif %}</td>
                        <td style="text-align: right; font-weight: bold;">{% if total != 0 %}{{ total|number_format(2, '.', ',') }}{% else %}0.00{% endif %}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>  
{% endblock %}    
{% block js_extend %}
    <script type="text/javascript" src="{{ asset('Resources/zebra/javascript/zebra_datepicker.js') }}"></script>     
    <script type="text/javascript" src="{{ asset('Resources/animations/reportes/ingresoscategoria.js') }}"></script>      
{% endblock %}
