{% extends ':layout:layouterp.html.twig' %}

{% block title -%}<title>ARIASTORE | Categorias de producto</title>{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/customscss/salestage.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
{% endblock %}
{% block descripcion %}
     <div class="col-md-6">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Gestión de categorias de producto</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">Registrar, actualizar y eliminar categorias de productos</p>
     </div>

{% endblock %}
{% block acciones %}
     <div class="col-md-6 text-right panel-body">
          
          
{#          <button id="formSubmit1" data-loading-text="Loading..." autocomplete="off" class="btAdd btn btn-sm btn-primary btn-flat">Guardar cambios</button>#}
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">Mostrar</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">Acciones</button>
     </div>
{% endblock acciones %}

{% block navegacion %}
    <a href="{{ path('admin_categoria_index') }}" class="leftnava"><li class="leftnav left">Categorias<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_gestiontalla_index') }}" class="leftnava"><li class="leftnav left ">Tallas<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_color_index') }}" class="leftnava"><li class="leftnav left ">Colores<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_gestionshipping_index') }}" class="leftnava"><li class="leftnav left ">Shipping<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_cambio_password', { 'id': app.user.id }) }}" class="leftnava"><li class="leftnav left ">Cambio contraseña<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_imagenes_index') }}" class="leftnava"><li class="leftnav left ">Gestión de carrusel<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_imagenes_categorias_index') }}" class="leftnava"><li class="leftnav left active">Gestión de imag/cat<span class="pull-right right"><i class="fa fa-arrow-right"></i></span></li></a>
{% endblock %}

{% block contenido %}
    {% include ':categoria:new.html.twig' %}
    
    <div class="clearfix"></div>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-4 text-center"><label>Caballero</label></div>
        <div class="col-md-4 text-center"><label>Dama</label></div>
        <form id="frm">
            
            <div id="imgForm" class="col-md-12">
            <input id="tipoimagen" type="hidden" name="tipoimagen" class="input-sm form-control" value="2">
            
            {% if imagenesObj %}
                
                {% for imagen in imagenesObj%}
                    <input id="idImagen" type="hidden" name="idImagen[]" class="idsim input-sm form-control" value="{{imagen.id}}">
                    <div class="col-md-4" id="primeraImagen" style="margin-top: 20px;">
                        <img id="imgTest" src="{{asset('Resources/src/img/carrusel/')}}{{imagen.nombre}}" style="margin-bottom:25px; width:100%; margin:auto;">
                        <br>
                        <label class="btn btn-default btn-file" style="margin-top:25px;">
                            Explorar <br><input style="display:none;margin-top:25px;" type="file" name="file[]" id="" class="imgProvider btn-file btn file">
                        </label>
                        
                       
                    </div>
                {% endfor %}
            {% else %}
                
                <input id="idImagen" type="hidden" name="idImagen[]" class="idsim input-sm form-control" value="0">
                <div class="col-md-4" id="primeraImagen" style="margin-top: 20px;">
                    <img id="imgTest" src="http://placehold.it/250x250" style="margin-bottom:25px; width:100%;  margin:auto;">
                    <br>
                    <label class="btn btn-default btn-file" style="margin-top:25px;">
                        Explorar <br><input style="display:none;margin-top:25px;" type="file" name="file[]" id="" class="imgProvider btn-file btn file">
                    </label>
    {#                <button style="margin-top: 25px;" class="pull-right btn btn-danger removeImagen">Eliminar</button>#}
                </div>
                <input id="idImagen" type="hidden" name="idImagen[]" class="idsim input-sm form-control" value="0">
                <div class="col-md-4" id="primeraImagen" style="margin-top: 20px;">
                    <img id="imgTest" src="http://placehold.it/250x250" style="margin-bottom:25px; width:100%; margin:auto;">
                    <br>
                    <label class="btn btn-default btn-file" style="margin-top:25px;">
                        Explorar <br><input style="display:none;margin-top:25px;" type="file" name="file[]" id="" class="imgProvider btn-file btn file">
                    </label>
    {#                <button style="margin-top: 25px;" class="pull-right btn btn-danger removeImagen">Eliminar</button>#}
                </div>
            {% endif %}
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 " style="margin-top: 25px;">
                <button id="formSubmit" class="pull-right btn btn-sm btn-primary btn-flat">Guardar cambios</button>
            </div>
            
        </form>
    </div>
    
{% endblock %}

{% block js_extend %}
<script type="text/javascript" src="{{ asset('Resources/validations/validation.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('Resources/persist/categoria/categoria.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/funciones.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('Resources/animations/categoria/categoria.js') }}"></script> #}
    <script type="text/javascript">
        function mostrarImagen(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(input).parent().siblings('img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function() {
            var numImagenes = 0;
            /////Definición datatable
            $(document).on("change",".file", function() {
            //var atributo=$(this).parent().siblings('img').attr('id');
                //alert('as');
                mostrarImagen(this);
                var input=this;
                var id = $(input).parent().next().attr('id');
                console.log(id);
{#                if(id!=0){#}
                    {#$.ajax({
                        url: Routing.generate('admin_save_imagenes'),
                        type: "POST",
                        data: new FormData(this),
                        contentType: false,
                        cache: false,
                        processData:false,
                        success: function(data)
                        {
                            if(data.msg){
                                swal('',data.msg,'success');
                                $(input).parent().next().attr('id',data.id);
                            }
                            if(data.error){
                                swal('',data.error,'error');
                            }
                            
                        },
                        error:function(data) {
                                /* Act on the event */

                            }
                    });#}
{#                }#}
            });
        
        /*/////Agregar/remover imagenes*/
	$(document).on('click', '.btPlus', function(event) {
            
            var item= '<input id="idImagen" type="hidden" name="idImagen[]" class="idsim input-sm form-control" value=""><div style="margin-top: 20px;" class="col-md-4" id="primeraImagen"><img id="imgTest" src="http://placehold.it/250x250" style="width:100%; margin-bottom:25px;  margin:auto;"><br><label class="btn btn-default btn-file" style="margin-top:25px;">';
                item+='Explorar <br><input style="display:none;margin-top:25px;" type="file" name="file[]" id="" class="imgProvider btn-file btn file "></label><button id="'+numImagenes+'" style="margin-top: 25px;" class="removeImagen pull-right btn btn-danger">Eliminar</button>';
                item+='</div>';
                if((numImagenes % 3) ==0){
                    {#item+='<div class="clearfix"> </div>';#}
                    console.log('clearfix');
                }
		$('#imgForm').append(item);
                numImagenes++;
		return false;
	});
        $(document).on('click', '.removeImagen', function(event) {
		$(this).parent().remove();
                numImagenes--;
		return false;
	});
	/*/////Fin de agregar/remover imagenes*/
        
                $('#frm').on('submit',(function(event) {
		/*/////Definición de variables*/
		event.preventDefault();
                var $btn = $('#formSubmit').button('loading');
                var $btn1 = $('#formSubmit1').button('loading');
		$.ajax({
                    url: Routing.generate('admin_save_imagenes'),
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData:false,
                    success: function(data)
                    {
                        if(data.msg){
                            swal('',data.msg,'success');
                            console.log(data.ids);
                              $('.idsim').each(function( index, element ) {
                                // element == this
                                $(this).val(data.ids[index]);
                              });
                        }
                        if(data.error){
                            swal('',data.error,'error');
                        }
                        $btn.button('reset');
                        $btn1.button('reset');
                    },
                    error:function(data) {
                            /* Act on the event */
                            $btn.button('reset');
                            $btn1.button('reset');
                        }
                    });
		
		event.preventDefault();
		return false;
	}));
	/*/////Fin definición persist data (Save method)*/
        
        
       
        
        
        
        });
         
    </script>
{% endblock %}