<div class="row">
    <!-- Inicio de Icono de CRM -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/6.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>CRM</strong></p>
            </span>
        </a>
    </div>

    <!-- Inicio de Icono de Ventas -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/7.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>Sales</strong></p>
            </span>
        </a>
    </div>
                
    <!-- Inicio de Icono de Actividades -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/5.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>Activities</strong></p>
            </span>
        </a>
    </div>
                
    <!-- Inicio de Icono de Calendario -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/3.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>Calendar</strong></p>
            </span>
        </a>
    </div>
                
    <!-- Inicio de Icono de Ajustes -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="{{ path('admin_ctletapaventa_index') }}" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/1.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>Settings</strong></p>
            </span>
        </a>
    </div>
                
    <!-- Inicio de Icono de Reports -->
    <div class="col-md-2 col-xs-6 col-sm-2" style="margin-top: 20px;">
        <a class="opcion" href="" style="text-decoration: none; color: inherit; outline: 0; margin-top: 20px;">
            <span class="text-center">
                <p style="margin-botttom: 0px; padding-bottom: 0px;"><img src="{{asset('Resources/src/img/icons/2.png')}}" style="width:60%;"></p>
                <p style="padding-top: 5px; margin-top: 0px;" ><strong>Reports</strong></p>
            </span>
        </a>
    </div>
</div>
