{% extends ':layout:layouterp.html.twig' %}

{% block title -%}<title> ARIASTORE | Gestión de shipping </title>{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{{ asset('Resources/customscss/salestage.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/slider/css/bootstrap-slider.min.css') }}">
{% endblock %}
{% block descripcion %}
     <div class="col-md-6">
          <p class="robo" style="font-weight: 300; margin-bottom: 0px; font-size: 30px;">Cambio de contraseña</p>
          <p class="robo" style="font-weight: 300; font-size: 14px; ">Se realiza el cambio de contraseña del usuario que ha iniciado sesión</p>
     </div>

{% endblock %}
{% block acciones %}
     {#<div class="col-md-6 text-right panel-body">
          <button data-loading-text="Loading..." autocomplete="off" class="btAdd btn btn-sm btn-primary btn-flat">Registrar</button>
          <button class="hidden btDelete btn btn-sm btn-danger btn-flat">Eliminar</button>
          <button class="hidden btnShow btn btn-sm btn-success btn-flat">Mostrar</button>
          <button class="hidden btnAction btn btn-sm btn-default btn-flat">Acciones</button>
     </div>#}
{% endblock acciones %}

{% block navegacion %}
    <a href="{{ path('admin_categoria_index') }}" class="leftnava"><li class="leftnav left ">Categorias<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_gestiontalla_index') }}" class="leftnava"><li class="leftnav left ">Tallas<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_color_index') }}" class="leftnava"><li class="leftnav left ">Colores<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_gestionshipping_index') }}" class="leftnava"><li class="leftnav left ">Shipping<span class="pull-right right"><i class=""></i></span></li></a>
    <a href="{{ path('admin_cambio_password', { 'id': app.user.id }) }}" class="leftnava"><li class="leftnav left active">Cambio contraseña<span class="pull-right right"><i class="fa fa-arrow-right"></i></span></li></a>
{% endblock %}

{% block contenido %}
    <div class="col-md-12 col-xs-12">
        <div id="pnAdd" class="panel panel-default" >
            <div class="panel-heading"><div class="pnHeadingLabelAdd">Cambiar su contraseña</div></div>
            <div class="panel-body">
                <div class="col-md-offset-1 col-md-5 col-xs-12" style="margin-bottom: 25px;">
                    <label>Nombre:</label> {{ app.user.persona.nombres }} {{ app.user.persona.apellidos }}
                </div>
                <div class="col-md-5 col-xs-12" style="margin-bottom: 25px;">
                    <label>Nombre de usuario:</label> {{ app.user.username }} 
                </div>
                <div class="clearfix"></div>
                <div style="color:red; height: 25px; font-size: 13px; margin-left: 15px; margin-top: 7px;">
                    <div class="col-md-offset-3 col-md-4" id="error" style="display: none;">
                        <p>Las contraseñas no coinciden</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-3 col-md-6 col-xs-12" style="margin-bottom: 10px;">
                    <label>Contraseña actual</label>
                    <label class="hidden requiredFields">¡Campos en rojo, son requeridos!</label>
                    <input id="txtId" type="hidden" name="" class="input-sm form-control">
                    <input id="txtPwdant" type="password" name="" class="input-sm form-control validateInput">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-3 col-md-6 col-xs-12" style="margin-bottom: 10px;">
                    <label>Nueva contraseña</label>
                    <input id="txtPwdnva" type="password" name="" class="input-sm form-control validateInput">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-offset-3 col-md-6 col-xs-12" style="margin-bottom: 10px;">
                    <label>Confirmar contraseña</label>
                    <input id="txtPwdrpt" type="password" name="" class="input-sm form-control validateInput">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 pull-right text-right" style="margin-top:20px;">
                    <button id="btnSave" class="btn btn-sm btn-primary" style="display: none;">Establecer contraseña</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    

{% block js_extend %}
    <script type="text/javascript" src="{{ asset('Resources/validations/validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Resources/animations/secured/cambiopassword.js') }}"></script> 
{% endblock %}     